<div class="container">
    <div class="mt-5">
        <form [hidden]="access_token" class="form-horizontal" role="form" method="POST" (ngSubmit)="resetPassword()"
              #ngresetForm="ngForm">
            <div class="row">
                <div class="col-6 offset-3">
                    <h2>Восстановление пароля</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" type="text" name="email"
                                   [(ngModel)]="email" class="form-control" id="email" placeholder="Email" required
                                   autofocus #ngemail="ngModel">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div [hidden]="ngemail.valid || ngemail.pristine" class="form-control-feedback">
                        <span class="text-danger align-middle">Не верный email</span>
                    </div>
                </div>
            </div>

            <div class="row buttons-row">
                <div class="col-6 offset-3 d-flex align-items-center justify-content-between">
                    <div class="btn-group">
                        <button type="submit" [disabled]="!ngresetForm.form.valid || loading" class="btn btn-success">
                            <i [classList] = "loading ? 'fas fa-spinner rotating' : 'fas fa-key'"></i>
                            <span class="pl-2">Восстановить</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <form [hidden]="!access_token" class="form-horizontal" role="form" method="POST" (ngSubmit)="changePassword()"
              #ngchangePassForm="ngForm">
            <div class="row">
                <div class="col-6 offset-3">
                    <h2>Изменить пароль</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="password" [(ngModel)]="password" name="password" class="form-control"
                                   id="password"
                                   #ngpassword="ngModel" placeholder="Пароль" validatePass required>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div [hidden]="ngpassword.valid || ngpassword.pristine" class="form-control-feedback">
                        <span class="text-danger align-middle">Минимум 7 символов</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="password" [(ngModel)]="passwordConfirm" name="password-confirmation"
                                   class="form-control" id="password-confirm" placeholder="Повторите пароль" required
                                   #ngpasswordConfirm="ngModel" validateEqual="password">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div [hidden]="ngpasswordConfirm.valid || ngpasswordConfirm.pristine" class="form-control-feedback">
                        <span class="text-danger align-middle">Пароли не совпадают</span>
                    </div>
                </div>
            </div>
            <div class="row buttons-row">
                <div class="col-6 offset-3">
                    <div class="btn-group">
                        <button type="submit" [disabled]="!ngchangePassForm.form.valid || loading" class="btn btn-success">
                            <i [classList] = "loading ? 'fas fa-spinner rotating' : 'fas fa-save'"></i>
                            <span class="pl-2">Изменить</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
